clang -I/Users/tamimdostyar/Documents/personal/buddySystem/buddyOS/alloc/src \
      -I/Users/tamimdostyar/Documents/personal/buddySystem/buddyOS/kernel/src \
      -I/Users/tamimdostyar/Documents/personal/buddySystem/buddyOS/processScheduler/src \
      -m32